*{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
h5
{
  color: red;
}
.h{
  position: absolute;
  font-weight: 900;
  font-size: 40px;
  color:transparent;
  -webkit-text-stroke:1px white;
  letter-spacing: .1em;
  padding-left:20px;
  top: 20px;
}

.contain img{
    position: relative;
    height:100vh;
    width: 100%;
}
.contain .content{
  position: absolute;
  right:10px;
  top:30px;
}
.content ul>a{
  text-decoration: none;
}
.content ul li{
  display: inline;
  color: white;
  padding: 20px;
  font-size: 18px;
  margin-right: 20px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 10%;

}

.content ul li:hover{
  background-color: rgba(255,255,255,1);
  color:gray;

}
.contain .login{
  border-radius: 10%;
  background:  rgba(255,255,255,.5);
  padding: 20px;
  position:  absolute;
  left: 35%;
  top:40%;
  font-size: 25px;
  color:#737373;
  font-weight: bold;
}

.contain .login input {
  padding: 7px;
  background-color: rgba(255,255,255,.3);
  border-top: 0px;
  border-left: 0px;
  border-right:0px;
  border-bottom: 1px black solid;
  margin-left: 10px;
}
.contain .login input:hover{
  background-color: rgba(255,255,255,1);
}
.contain .login input:nth-child(1){
    margin-left: 30px;
}

.contain .login input:nth-child(2){
    margin-left: 20px;
}
.contain .login button{
  font-size: 20px;
  padding: 5px;
  float: right;
}
.patient h1{
  font-weight: 900;/*
  color: grey;
  -webkit-text-stroke:1px black;*/
  font-size: 30px;
  padding:30px;
}
.patient ul{
  position: absolute;
  top:40px;
  right:0px;
  padding : 10px;
  list-style-type: none;
  font-size: 15px;
}
  a{
    color: black;
  text-decoration: none;
}
.patient ul li{
  font-weight: 700;
  border-radius: 5%;
  background-color:#f2f2f2;
  color: black;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline;
}

.patient ul li:hover{
  background:grey;
  color: white;
}
.patient .gid img{
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  margin-left: 60px;}
.patient .gid{
  padding-left: 2%;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-column-gap: 20px;
}
.patient .gid .g {
  transition: 1s;
  margin: 10px;
}
.patient .gid .g:hover{
  transform: scale(1.1);
}
.patient h2{
  text-transform: capitalize;
  font-weight: 700;
  padding-top:10px;
  padding-left: 10%;
  text-decoration: underline;
}
.disp{
  text-align: center;
  display: grid;
  grid-template-columns: 32% 32% 32%;
}
.disp .d{
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5%;
  margin: 10px;
  color: white;
  font-weight: 700;
  background-color:gray;
  font-size: 15px;
}
.foot{
  float: right;
  font-size: 10px;
  font-family: sans-serif;
  height: 50px;
  padding-left: 40px;
  margin-top: 10px;
  width:100%;
  color:white;
  background-color: black;
}
.apint{
  padding:30px;
  margin-left: 30px;

}
.count{
  text-align: center;
  color: black;
  padding: 10px;
  height:30px;
  width:30px;
  background: #E6E6FA;
  border-radius: 50%;
}
.apint button{
  margin-left: 400px;
  padding: 5px;
  font-size: 15px;
  background-color: grey;
  color: white;

}
.apint button:hover{
  background-color: black;
  color: white;
}
.tab{
  padding-left: 70px;
}
table tr:nth-child(even){
  background: grey;
}
.phpdisp h4{
  margin-left: 60px;
  color: red;
}
